*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, serif;
}

.navbar-brand{
    text-align: center;
    position:relative;
    max-width:45%;
    max-height:45%;
}

nav ul{
    list-style-type: none;
}

.home{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}