*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, serif;
}

.navbar-brand{
width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}

nav ul{
    list-style-type: none;
}

.home{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}