<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'RainyDaysHero/images/rdh.ico' %}">
    <script src="{% static 'RainyDaysHero/js/jquery-3.5.1.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'RainyDaysHero/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'RainyDaysHero/css/menu-second.css' %}">


    {% block additionnal-head-conf %}

    {% endblock %}
    <!-- Bootstrap CSS -->
  </head>
  <body>
<!-- navbar -->

  <nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top navmenu">

  <a class="navbar-brand"><img src="{% static 'RainyDaysHero/images/rdh.png' %}" width="350" height="60" ></a>

  <span class="navbar-toggler-icon"></span>

  </button>

    <div class="collapse navbar-collapse justify-content-between" id="nav">

      <ul class="navbar-nav">
        <a class="home" href="/rdh" onclick="location.replace('/rdh/home'),'_top'">HOME</a>
        <a class="dropdown-itema" href="/rdh/quotation" onclick="location.replace('/rdh/quotation'),'_top'">Quotation</a>
        <a class="dropdown-item" href="/rdh/retrospective" onclick="location.replace('/rdh/retrospective'),'_top'">Retrospective</a>
      </ul>

    </div>

  </nav>
  <br>
  <br>
  <br>

    {% block content %}

    {% endblock %}
  </body>
</html>